{% load custom_filters %} {# <--- Nhớ load bộ lọc dịch ở đầu file #}

<div class="footer">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Liên hệ</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>123 Đường Nguyễn Văn A, Hà Nội</p>
                        <p><i class="fa fa-envelope"></i>contact@news24.com</p>
                        <p><i class="fa fa-phone"></i>+84 912 345 678</p>
                        <div class="social mt-3">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Chuyên mục</h3>
                    <ul>
                        {% for item in categories %}
                        <li>
                            <a href="{% url 'category_news' item.slug %}">
                                {{ item.name|to_vietnamese }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Liên kết</h3>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="{% url 'contact' %}">Liên hệ quảng cáo</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Bản tin</h3>
                    <div class="newsletter">
                        <p>Đăng ký để nhận những tin tức mới nhất gửi trực tiếp vào hộp thư của bạn.</p>
                        <form>
                            <input class="form-control" type="email" placeholder="Email của bạn..." />
                            <button class="btn">Gửi ngay</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-bottom">
        <div class="col-12" style="padding: 0;">
            <div class="footer-bottom text-center">
                <p class="mb-0" style="color: #ffffff;">
                    &copy; {% now "Y" %} <a href="#" style="color: #ffffff;">News 24</a>. Bảo lưu mọi quyền.
                </p>
            </div>
        </div>
    </div>
</div>