{% load static %}
{% load custom_filters %} {# <--- 1. Load bộ lọc dịch ở đây #}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <title>News 24 - Trang chủ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Bootstrap Ecommerce Template" name="keywords" />
    <meta content="Bootstrap Ecommerce Template Free Download" name="description" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include 'header.html' %}

    <div class="top-news">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 tn-left">
                    {% for item in latest_news|slice:':1' %}
                    <div class="tn-img">
                        <a href="{% url 'news-detail' item.id %}">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid" />
                            {% else %}
                                <img src="{% static 'media/img/news-default-large.jpg' %}" alt="Default News" class="img-fluid" />
                            {% endif %}
                        </a>
                        <div class="tn-content">
                            <div class="tn-content-inner">
                                <a class="tn-date" href="{% url 'news-detail' item.id %}">
                                    <i class="far fa-clock"></i> {{ item.published_at|date:'d-m-Y' }}
                                </a>
                                <a class="tn-title" href="{% url 'news-detail' item.id %}">
                                    {{ item.title }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="tn-img" style="background: #ccc; min-height: 400px; display: flex; align-items: center; justify-content: center;">
                         <p style="color: #333;">Chưa có tin mới nổi bật.</p>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-md-6 tn-right">
                    <div class="row">
                        {% for item in latest_news|slice:'1:5' %}
                        <div class="col-md-6">
                            <div class="tn-img">
                                <a href="{% url 'news-detail' item.id %}">
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.title }}" class="w-100" style="object-fit: cover; height: 100%;" />
                                    {% else %}
                                        <img src="{% static 'media/img/news-350x223-default.jpg' %}" alt="Default News" class="w-100" />
                                    {% endif %}
                                </a>
                                <div class="tn-content">
                                    <div class="tn-content-inner">
                                        <a class="tn-date" href="{% url 'news-detail' item.id %}">
                                            <i class="far fa-clock"></i> {{ item.published_at|date:'d-m-Y' }}
                                        </a>
                                        <a class="tn-title" href="{% url 'news-detail' item.id %}">
                                            {{ item.title|truncatewords:8 }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="news">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-6">
            <h2><i class="fas fa-align-justify"></i> Thể thao</h2>
            <div class="row cn-slider">
              {% for item in sports_news %}
                <div class="col-md-6">
                  <div class="cn-img">
                    <a href="{% url 'news-detail' item.id %}">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                        {% else %}
                        <img src="{% static 'media/img/news-350x223-default.jpg' %}" />
                        {% endif %}
                    </a>

                    <div class="cn-content">
                      <div class="cn-content-inner">
                        <a class="cn-date" href="{% url 'news-detail' item.id %}">
                            <i class="far fa-clock"></i>{{ item.created_at|date:'d-m-Y' }}
                        </a>
                        <a class="cn-title" href="{% url 'news-detail' item.id %}">
                            {{ item.title }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div class="col-md-12">
                  <p>Chưa có tin thể thao.</p>
                </div>
              {% endfor %}
            </div>
          </div>
          
          <div class="col-md-6">
            <h2><i class="fas fa-align-justify"></i> Công nghệ</h2>
            <div class="row cn-slider">
              {% for item in tech_news %}
                <div class="col-md-6">
                  <div class="cn-img">
                    <a href="{% url 'news-detail' item.id %}">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                        {% else %}
                        <img src="{% static 'media/img/news-350x223-default.jpg' %}" />
                        {% endif %}
                    </a>

                    <div class="cn-content">
                      <div class="cn-content-inner">
                          <a class="cn-date" href="{% url 'news-detail' item.id %}">
                            <i class="far fa-clock"></i>{{ item.created_at|date:'d-m-Y' }}
                        </a>
                        <a class="cn-title" href="{% url 'news-detail' item.id %}">
                            {{ item.title }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div class="col-md-12">
                  <p>Chưa có tin công nghệ.</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="news">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-6">
            <h2><i class="fas fa-align-justify"></i> Tài chính</h2>
            <div class="row cn-slider">
              {% for item in business_news %}
                <div class="col-md-6">
                  <div class="cn-img">
                    <a href="{% url 'news-detail' item.id %}">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                        {% else %}
                        <img src="{% static 'media/img/news-350x223-default.jpg' %}" />
                        {% endif %}
                    </a>

                    <div class="cn-content">
                      <div class="cn-content-inner">
                        <a class="cn-date" href="{% url 'news-detail' item.id %}">
                            <i class="far fa-clock"></i>{{ item.created_at|date:'d-m-Y' }}
                        </a>
                        <a class="cn-title" href="{% url 'news-detail' item.id %}">
                            {{ item.title }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div class="col-md-12">
                  <p>Chưa có tin tài chính.</p>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-6">
            <h2><i class="fas fa-align-justify"></i> Đời sống</h2>
            <div class="row cn-slider">
              {% for item in lifestyle_news %}
                <div class="col-md-6">
                  <div class="cn-img">
                    <a href="{% url 'news-detail' item.id %}">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                        {% else %}
                        <img src="{% static 'media/img/news-350x223-default.jpg' %}" />
                        {% endif %}
                    </a>

                    <div class="cn-content">
                      <div class="cn-content-inner">
                        <a class="cn-date" href="{% url 'news-detail' item.id %}">
                            <i class="far fa-clock"></i>{{ item.created_at|date:'d-m-Y' }}
                        </a>
                        <a class="cn-title" href="{% url 'news-detail' item.id %}">
                            {{ item.title }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div class="col-md-12">
                  <p>Chưa có tin đời sống.</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-news">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-align-justify"></i> Tin nổi bật</h2>
                <div class="row">
                  
                  <div class="col-lg-6">
                    {% for news in popular_news|slice:':1' %}
                      <div class="mn-img">
                        <a href="{% url 'news-detail' news.id %}">
                            {% if news.image %}
                            <img src="{{ news.image.url }}" alt="{{ news.title }}" />
                            {% else %}
                            <img src="{% static 'media/img/news-350x223-default.jpg' %}" alt="Default News Image" />
                            {% endif %}
                        </a>
                      </div>
                      <div class="mn-content">
                        <a class="mn-title" href="{% url 'news-detail' news.id %}">{{ news.title }}</a>
                        <a class="mn-date" href="{% url 'news-detail' news.id %}"><i class="far fa-clock"></i>{{ news.created_at|date:'d-m-Y' }}</a>
                        <p>{{ news.summary|truncatewords:20 }}</p>
                      </div>
                    {% endfor %}
                  </div>

                  <div class="col-lg-6">
                    {% for news in popular_news|slice:'1:6' %}
                      <div class="mn-list">
                        <div class="mn-img">
                           <a href="{% url 'news-detail' news.id %}">
                            {% if news.image %}
                                <img src="{{ news.image.url }}" alt="{{ news.title }}" />
                            {% else %}
                                <img src="{% static 'media/img/news-350x223-default.jpg' %}" alt="Default News Image" />
                            {% endif %}
                          </a>
                        </div>
                        <div class="mn-content">
                          <a class="mn-title" href="{% url 'news-detail' news.id %}">{{ news.title }}</a>
                          <a class="mn-date" href="{% url 'news-detail' news.id %}"><i class="far fa-clock"></i>{{ news.created_at|date:'d-m-Y' }}</a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="sidebar">
              
              <div class="sidebar-widget">
                <h2><i class="fas fa-align-justify"></i> Chuyên mục</h2>
                <div class="category">
                  <ul class="fa-ul">
                    {% for item in categories %}
                      <li>
                        <span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span>
                        <a href="{% url 'category_news' item.slug %}">
                            {# 2. Sử dụng Filter ở đây cho gọn #}
                            {{ item.name|to_vietnamese }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="sidebar-widget">
                <h2><i class="fas fa-align-justify"></i> Tags</h2>
                <div class="tags">
                  {% for item in categories %}
                    <a href="{% url 'category_news' item.slug %}">
                        {# 3. Sử dụng Filter ở đây nữa #}
                        {{ item.name|to_vietnamese }}
                    </a>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include 'footer.html' %}
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/slick/slick.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>